@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

:root {
    --color-primario: #8e44ad;
    --color-secundario: #ecf0f1;
    --color-terciario: #e67e22;
    --color-bordes: black;
    --color-record: #ecf0f1;
    --color-puntos: #2ecc71;
    --color-font: black;
}

html {
    background: var(--color-secundario);
}

div {
    margin: 0.5em;
}

body {
    background: var(--color-primario);
    font-family: "Press Start 2P";
    color:var(--color-font);
    border: solid 0.25em var(--color-bordes) ;
    width: 70%;
    margin: 10 auto auto;
    text-align: center;
    padding: 1em 3em;
}

var {
    font-style:normal;
}

p, a {
    font-size: x-small;
}

#puntos{
    color: var(--color-puntos);
    font-size: xx-large;
}

#record {
    color: var(--color-record);
}

#slashdot {
    background: var(--color-secundario);
    padding: 2em;
    border: solid 0.25em var(--color-bordes) ;
    font-weight: bold;
    height: 40%;
    width: 80%;
    overflow: hidden; /*Evitar scrollbar*/
}

table  {
    border: solid var(--color-bordes);
    text-align: center;
    font-size: small;
    background-color: var(--color-puntos)
}

th {
    background: var(--color-terciario);
}

tr {
    background: var(--color-secundario);
}
