body {
   
}

table  {
    border: solid black 1px; 
    border-collapse: collapse;
    text-align: left;
}

td, th {
    border: solid black 1px; 
}

.instrucciones {

}

.puntos {
    color: green;
}

.slashdot {

}

.record {
    color: blue;
}